<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Brew Favs <i class='fas fa-beer' style='font-size:24px; color:gold'></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/user">User Profile</a>
        <a class="nav-item nav-link" href="/add">Add</a>
        <a class="nav-item nav-link" href="/login">Logout</a>
      </div>
    </div>
  </nav>
</header>

<br>

<div class="container">


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Beer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Brewery</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <form id="beerSearchForm">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="nameField">Beer</label>
            <input type="text" class="form-control" id="nameField">
          </div>
          <div class="col-md-4 mb-3">
            <label for="nameField">Style</label>
            <input type="text" class="form-control" id="styleSelect">
          </div>
          {{!-- <div class="input-group mb-3">
            <select class="custom-select" id="styleSelect">
              <option selected>Brew Style</option>
              <option value="1">IPA</option>
              <option value="2">Lager</option>
              <option value="3">Stout</option>
            </select> --}}
          {{!-- </div> --}}
          <div class="col-md-4 mb-3">
            <label for="nameField">Ounces</label>
            <input type="text" class="form-control" id="ouncesSelect">
          </div>
          {{!-- <div class="input-group mb-3">
            <select class="custom-select" id="ouncesSelect">
              <option selected>Ounces</option>
              <option value="1">1.1</option>
              <option value="2">5.5</option>
              <option value="3">10.5</option>
            </select>
          </div> --}}
        </div>
        <button style='font-size:24px'>Search Beer <i class='fas fa-beer'></i></button>
      </form>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      <form id="brewerySearchForm">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="breweryName">Brewery</label>
            <input type="text" class="form-control" id="breweryName">
          </div>
          <div class="col-md-4 mb-3">
            <label for="breweryCity">City</label>
            <input type="text" class="form-control" id="breweryCity">
          </div>
          <div class="col-md-4 mb-3">
            <label for="breweryState">State</label>
            <input type="text" class="form-control" id="breweryState">
          </div>
        </div>
        <button style='font-size:24px'>Search Brewery <i class='fa fa-home'></i></button>
      </form>

    </div>
  </div>
  <br>
  <div class="row" id="search-results">
    <div class="userstats col-12 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search Results</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <div id="listresults">
            {{#each searchData }}
              <p> Name : {{name}}</p>
              <p> Style : {{style}}</p>
              <p> Ounces : {{ounces}}</p>
              <button style='font-size:12px' class="btn btn-success">Fav <i class='fas fa-beer'></i></button>
            {{/each}}
            </div>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <br>



  <div class="row">
    <div class="userstats col-12 ">
      <div class="card">
        <div class="card-body">
          <div id="map">MAP</div>
        </div>
      </div>
    </div>

    <br>

  </div>

  <br>

</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiD21v8wwCf9-QRTr8mM69JblmLXgxBwc&callback=initMap"></script>
<script src="/js/search.js"></script>